<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.autism.mapper.AutismCommunitysMapper">
    <resultMap type="com.zl.autism.model.AutismCommunitys" id="BaseResultMap">
        <id column="communitys_id" property="communitys_id" jdbcType="VARCHAR"/>
        <result column="communitys_pic" property="communitys_pic" jdbcType="VARCHAR"/>
        <result column="communitys_see" property="communitys_see" jdbcType="VARCHAR"/>
        <result column="communitys_intro" property="communitys_intro" jdbcType="VARCHAR"/>
        <result column="communitys_like" property="communitys_like" jdbcType="VARCHAR"/>
        <result column="communitys_author" property="communitys_author" jdbcType="VARCHAR"/>
        <result column="uuid" property="uuid" jdbcType="VARCHAR"/>
        <result column="communitys_city" property="communitys_city" jdbcType="VARCHAR"/>

    </resultMap>

    <select id="getAutismCommunitysList" resultMap="BaseResultMap">
        select * from autism_communitys

        <if test="idList != null and idList.size()&gt;0">
            where communitys_id in
            <foreach close=")" collection="idList" index="index" item="listItem" open="(" separator=",">
                #{listItem}
            </foreach>
        </if>

        <if test="communitys_city != null and communitys_city.size()&gt;0">
            where communitys_city in
            <foreach close=")" collection="communitys_city" index="index" item="communitys_city" open="(" separator=",">
                #{communitys_city}
            </foreach>
        </if>
    </select>

</mapper>